body {
    margin-top: 100px;
	--spacing: 2em;
    background-color: #e8ddcc;
    background-position: top;
	/* font-family: monospace; */
	padding: 50px;
    cursor:
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💫</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

body, header, section, ul, li, footer, address {
	display: grid;
	gap: 30px;
}

/* main { max-width: 600px } */
a { color: brown; 
    transition: transform 0.3 ease-in-out;
}

a:hover {
    transform: scale(2); 
}

em {
    font-family: 'Cormorant Garamond', serif;
}
strong { font-weight: bold; }
p { font-family: 'Cormorant Garamond', serif;
    max-width: 50ch; }

#channel-title {
font-size: 50px;
font-weight: bold;
font-family: cinzel;
position: fixed;
margin-top: -100px;
color: #7d604f;
z-index: 10000;
}

h1 {
box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
padding: 10px 30px;
border-radius: 50%;
}

.block-text p {
    font-size: 22px;
}


.block-text:first-of-type p:first-child em {
    font-size: 40px;
    color: #DA9D10;
   
}

.block-text:first-child {
    margin-top: 140vh;
}

#channel-blocks li:first-child {
    background-color: transparent;
    width: 100%;
}

figcaption {
    display: none;
}

h3 {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
}

h4 {
    font-size: 20px;
    font-style: italic;
}

#channel-description {
    font-size: 35px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: italic;
}

#channel-blocks {
    display: grid;
    padding: 30px;
}



#channel-blocks > li {
    /* width: 100%; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    max-width: 450px;
}


.block-image img:hover {
    transform: scale(1.1); 
    opacity: 1; 
}


.block-text {
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.block-linked-video {
    margin-bottom: 20px;
}

.block-link {
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    opacity: 0.8;
    transition: transform 0.7s ease;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.profile img:hover {
    opacity: 1;
    scale: 1.1;
}








/* 
@media (min-width: 1080px) {

    #channel-blocks {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1080px;
    }

}

@media (min-width: 1440px) {

    #channel-blocks {
        grid-template-columns: repeat(3, 1fr);
        min-width: 1640px;
    }

    #channel-blocks < li {
        margin: 30px;
    }

} */