body {
    /* background-color: rgb(25, 17, 11); */
}

.pop-up {
    background-color: rgba(255,255,255,0.2);
    width: 70%;
    height: 30%;
    max-width: 600px;
    margin: auto;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.902), inset 0 0 10px 5px rgba(255, 255, 255, 0.902);
    font-family: monospace;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    padding-bottom: 120px;
}

.option {
    display: flex;
}

h1 {
    font-size: 15px;
    color: white;
    margin: auto;
}

h2 {
    font-size: 15px;
    color: white;
    margin: auto;
    margin: 0 70px;
}

h2:hover {
    transform: scale(1.2);
}

.background-color {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: blur(1px);
    width: 100vw;
    height: 100vh;
    z-index: -100000;
    background: linear-gradient(45deg, rgb(44, 37, 28), rgb(40, 27, 9), rgb(72, 52, 35), rgb(77, 61, 40), rgb(75, 39, 11), rgb(65, 56, 44));
    background-size: 300% 300%;
    animation: color 15s linear infinite;
}

@keyframes color {
    0% {
        background-position: 0 85%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0% 85%;
    }
}


@media (min-width: 665px) {
    h1, h2 {
        font-size: 30px;
    }

    .question {
        padding-bottom: 100px;
    }

   
}