:root {
    --title-font: cinzel;
    --description-font: 'Cormorant Garamond', serif;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #e8ddcc;
    background-position: top;
    cursor:
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💫</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

body, header, section, ul, li, footer, address {
	display: grid;
	/* gap: 30px; */
}


a { color: brown; 
    transition: transform 0.3 ease-in-out;
}

a:hover {
    transform: scale(1.2); 
}

em {
    font-family: 'Cormorant Garamond', serif;
}

p { 
    font-family: var(--description-font);
    max-width: 50ch; 
}



/* header page */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    opacity: 20%;
    filter: blur (1px);
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* filter: hue-rotate(95deg) saturate(100%); */
}

header {
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100vh;
    grid-gap: 0;
}

#channel-title {
    font-family: var(--title-font);
    font-size: 50px;
    margin: auto;
    color: #4f3e34;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    padding: 10px 30px;
    border-radius: 50%; 
}

figcaption {
    display: none;
}

#channel-description {
    color: white;
    font-size: 35px;
    font-family: var(--description-font);
    font-weight: 400;
    font-style: italic;
    margin: auto;
    text-align: center;
    padding: 40px;
}

header p {
    margin: auto;
    justify-content: center;
}


/* nav */
#landing-page-nav {
    position: fixed;
    display: flex;
    text-transform: uppercase;
    transform: rotate(270deg);
    transform-origin: left top;
    width: 90vh;
    bottom: 10px;
    justify-content: space-between;
    left: 10px;
    z-index: 100000;
}

#landing-page-nav a[href="media.html"] {
    color: rgb(120, 120, 120);
}


/* image container */
#image-container {
    height: 100vh;
    width: 100vw;
    /* margin: 500px; */
    margin: auto;
    position: relative;
    /*  */
    /* display: grid; */
    /* justify-content: center;
    align-items: center; */
}

#image-container h2 {
    margin: auto;
    margin-bottom: 40px;
    font-family: var(--description-font);
    font-size: 40px;
    font-style: italic;
    color: white;
    z-index: 100000;
}

.block-image {
    height: auto; /* Maintain aspect ratio */
    cursor: move;
    position: absolute;
    display: block;
    width: 16vw;
    justify-content: space-between;
    /* overflow: hidden; */
    /* max-width: 100%;
    max-height: 100%; */
}

.block-image img {
    width: 100%;
    height: auto;
    max-width: 230px;
    opacity: 0.5;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.block-image img:hover {
    transform: scale(1.1); 
    opacity: 1; 
}

.block-image-description {
    display: none;
}



/* Explore section */

.explore {
    height: 100vh;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    grid-gap: 0;
}

.explore h2 {
    font-family: var(--description-font);
    font-size: 35px;
    font-style: italic;
    color: white;
    padding: 0 20px;
    text-align: center;
    margin: auto;
}


.explore h4 {
    font-size: 30px;
    font-family: var(--description-font);
    color: #444036;
    text-align: center;
    padding: 0 20px;
    font-style: italic;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.explore a {
    margin: auto;
}


/* users */

#channel-users {
    display: flex;
    gap: 60px;
    margin: auto;
}

.profile img {
    border-radius: 50%;
    opacity: 0.8;
    transition: transform 0.7s ease;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    width: 100px;
    height: 100px;
}

.profile img:hover {
    opacity: 1;
    scale: 1.1;
}

/* footer */
footer {
    /* position: fixed;
    bottom: 0; */
}









@media (min-width: 1080px) {


 
}

@media (min-width: 1440px) {


}
