body {
	--spacing: 2em;
    background-color: #e8ddcc;
    background-position: top;
	/* font-family: monospace; */
	padding: 50px;
}

body, header, section, ul, li, footer, address {
	display: grid;
	gap: 30px;
}

main { max-width: 600px }
a { color: brown; }
em { font-style: italic; }
strong { font-weight: bold; }
p { max-width: 50ch; }

#channel-title {
font-size: 50px;
font-weight: bold;
}

#channel-blocks {
    display: grid; 
    /* flex-wrap: wrap;  */
    grid-template-columns: repeat(2, 1fr);
}

#channel-blocks > li {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    /* max-width: none; */
}
