body {
    margin-top: 100px;
	--spacing: 2em;
    background-color: #e8ddcc;
    background-position: top;
	/* font-family: monospace; */
	padding: 50px;
}

body, header, section, ul, li, footer, address {
	display: grid;
	gap: 30px;
}

/* main { max-width: 600px } */
a { color: brown; }
em { font-style: italic;}
strong { font-weight: bold; }
p { max-width: 50ch; }

#channel-title {
font-size: 70px;
font-weight: bold;
position: fixed;
margin-top: -100px;
color: #7d604f;
}

.block-text:first-of-type p:first-child em {
    font-size: 40px;
}

#channel-blocks li:first-child {
    background-color: transparent;
    width: 100%;
}

figcaption {
    background-color: white;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
    background-color: blanchedalmond;
}

#channel-description {
    font-size: 35px;
}

#channel-blocks {
    /* display: grid;  */
    /* flex-wrap: wrap;  */
    /* grid-template-columns: repeat(2, 1fr); */
}

#channel-blocks > li {
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    max-width: 450px;
}

.block-image-description {
    display: none;
}

.block-text {
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
/* 
@media (min-width: 1080px) {

    #channel-blocks {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1080px;
    }

  
} */
